$primary-ff: 'Futura PT';
$second-ff: 'Stevie Sans';
$third-ff: 'Carolissa';

$primary-color: #000;
$second-color: #20E3B6;
$d-fs: 24;
$fs-14: 14;
$fs-16: 16;
$fs-20: 20;
$fs-22: 22;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


/* variables */
$c-2C92E4: #2C92E4;
$c-AFAFAF: #AFAFAF;
$c-000000: #000000;
$c-CECECE: #CECECE;
$c-002C3E: #002C3E;
$c-FFFFFF: #FFFFFF;
$c-F46B5D: #F46B5D;
$mobile: mobile;
$l_mobile: l_mobile;
$tablet: tablet;
$laptop: laptop;




$design: 1920px; // width chuẩn design
$w-design: 1640px; // width đã trừ spacing 2 bên

$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  lg: $lg,
  xl: $xl,
  ds: $w-design, 
);
$container-max-widths: (
  sm: 540px,
  lg: 960px,
  xl: $xl,
  ds: $w-design,
);

$grid-gutter-width: 30; // padding giữa 2 cột
$mobile-grid-gutter-width: 20;

// Options
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: false !default; // true
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

@mixin make-transform($property) {
  -moz-transform: $property;
  -webkit-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

$transition-base: all 0.3s ease-in-out;

@mixin font($fs, $lh) {
  font-size: ($fs/$d-fs)+rem;
  line-height: ($lh/$d-fs)+rem;
}

@mixin margin($mt, $mr, $mb, $ml) {
  margin: ($mt/$d-fs)+rem ($mr/$d-fs)+rem ($mb/$d-fs)+rem ($ml/$d-fs)+rem;
}

@mixin padding($pt, $pr, $pb, $pl) {
  padding: ($pt/$d-fs)+rem ($pr/$d-fs)+rem ($pb/$d-fs)+rem ($pl/$d-fs)+rem;
}


@mixin bp-tablet {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin bp-mobile {
  @media only screen and (max-width: $sm) {
    @content;
  }
}



@function toRem($value) {
	$remValue: ($value/$d-fs) + rem;
	@return $remValue;
}