body {
  @include transition();
  .icon-bar {
    display: block;
    width: toRem(30);
    height: toRem(2);
    border-radius: 1px;
    background-color: $black;
    margin-bottom: toRem(5);
    @include transition();
    &:last-child{
      margin-bottom: 0;
    }
  }
  .navbar-toggle {
    cursor: pointer;
    position: relative;
    outline: none;
    display: block;
  }
  .navbar-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.3);
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    @include transition();
  }
  &.logged-in {
    .navbar-mobile {
      top: 47px;
    }
  }
  .navbar-mobile {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;
    z-index: 99;
    display: block;
    transform: translate(-100%, 0);
    background-color: $white;
    // border: 2px solid transparent;
    @include transition();
    overflow: auto;
    .menu {
      position: relative;
      list-style-type: none;
      padding-bottom: toRem(30);
      ul {
        li {
          display: block;
          // width: 100%;
          a {
            border-bottom: 1px solid rgba($black, 0.3);
            @include padding(20, 10, 20, 10);
            color: $c-2C92E4;
            @include font($d-fs, $d-fs);
            display: inline-block;
            width: 100%;
          }
          
          &:first-child{
            a{

              border-top: 1px solid rgba($black, 0.3);
            }

          }
        }
      }
    }
  }
  &.navbarmobile-is-active {
    margin-left: toRem(250);
    margin-right: -(toRem(250));
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    .navbar-mobile {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
    }
    .navbar-overlay {
      visibility: visible;
      opacity: 1;
    }
    .navbar-toggle {
      z-index: 9999;
      & + .middle-header .nav-overlay {
        opacity: 1;
      }
      .icon-bar {
        &:nth-child(1) {
          transform: translate(-1px, 7px) rotate(-225deg);
          -webkit-transform: translate(-1px, 7px) rotate(-225deg);
          -moz-transform: translate(-1px, 7px) rotate(-225deg);
          -ms-transform: translate(-1px, 7px) rotate(-225deg);
          -o-transform: translate(-1px, 7px) rotate(-225deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(-1px, -7px) rotate(225deg);
          -webkit-transform: translate(-1px, -7px) rotate(225deg);
          -moz-transform: translate(-1px, -7px) rotate(225deg);
          -ms-transform: translate(-1px, -7px) rotate(225deg);
          -o-transform: translate(-1px, -7px) rotate(225deg);
        }
      }
    }
  }
}
