$w-design: 1920; // width chuẩn design
$container-gutter-width: 30; // padding ngoài container
$grid-gutter-width: 30; // padding giữa 2 cột
$mobile-grid-gutter-width: 15; // padding giữa 2 cột mobile
$w-container: ($w-design)- ($container-gutter-width) * 2 + $grid-gutter-width; // width đã trừ spacing 2 bên

$d-fs: 24;

$primary-color: #000;
$c-2C92E4: #2c92e4;

$re-sm: 575.98;
$re-md: 767.98;
$re-lg: 991.98;
$re-xl: 1199.98;